<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
  <!-- Header -->
  <div class="header">
  <div class="menu">
        <h3 class="menu-buttons"><a href="#recently-added" class="button">NOW SHOWING</a></h3>
        <h3 class="menu-buttons"><a href="/english/films/" class="button">ALL FILMS</a></h3>
        <h3 class="menu-buttons">SUBSCRIBE</h3>
        <h3 class="menu-buttons">
            {{ partial "language-switcher.html" (dict "Class" "language-select" "Context" .) }}
        </h3>
        <h3 class="menu-buttons" id="menu-toggle">☰</h3>
        <div class="menu-dropdown">
            <h3 class="menu-buttons default-hidden">SIGN IN</h3>
            <h3 class="menu-buttons default-hidden"><a href="/english/about/" class="button">ABOUT</a></h3>
            <h3 class="menu-buttons default-hidden"><a href="/english/FAQ/" class="button">FAQ</a></h3>
            <h3 class="menu-buttons default-hidden"><a href="https://www.instagram.com/cathayplayglobal/" class="button">INSTAGRAM</a></h3>
            <h3 class="menu-buttons default-hidden"><a href="https://x.com/CathayPlay" class="button">TWITTER</a></h3>
        </div>
  </div>
  </div>

  {{ block "main" . }}{{ end }}

  <!-- Footer -->
  <footer class="footer">
    <div class="footer-container">
      <div class="footer-links">
        <a href="/english/about/" class="footer-link">About</a>
        <a href="/english/contact/" class="footer-link">Contact Us</a>
        <a href="/english/FAQ/" class="footer-link">FAQ</a>
        <a href="/english/privacy/" class="footer-link">Privacy Policy</a>
      </div>
      
      <div class="footer-social">
        <p class="follow-text">Follow Us</p>
        <div class="social-icons">
          <a href="https://www.instagram.com/cathayplayglobal/" class="social-icon" target="_blank" aria-label="Instagram">📷</a>
          <a href="https://x.com/CathayPlay" class="social-icon" target="_blank" aria-label="Twitter">𝕏</a>
        </div>
      </div>
    </div>
  </footer>
  
  <script src="/js/index.js"></script>
</body>
</html>
