{{ define "main" }}
<section class="hero">
  <video autoplay muted loop playsinline class="hero-video">
    <source src="/videos/victors-cut.mp4" type="video/mp4">
    Your browser does not support the video tag
  </video>

  <div class="overlay"></div>

  <div class="hero-text-middle">
      <div class="promotion">
        <h3 class="white">SUPPORT INDEPENDENT CHINESE FILMMAKERS</h3>
        <button class="promotion-button">SUBSCRIBE</button>
      </div>
      <div class="film-info">
        <div>
            <div class="film-title-container">
                <h2 class="film-title-text">FIELD</h2>
                <div class="buttons">
                    <button id="watch-button">WATCH</button>
                </div>
            </div>
          <p class="director">Directed by <strong>LÜ MEIJING</strong><br>2022</p>
        </div>
        <p class="description">In a world shaped by networks, consumption, and technology, FIELD imagines new ways of being together. Through fragments of human and non-human connection—between people, animals, elements, and devices—the film creates a shifting space where perception and emotion resonate across consciousness. The result is a meditation on communication, community, and the fragile possibilities of co-existence.</p>
      </div>
  </div>
</section>

{{ .Content }}
{{ end }}
